.logo {
    width: 200px;
    float: left;
    background-color: greenyellow;
}

/*Images */
img {
    border: 1px solid greenyellow;
    border-radius: 15px;
    box-shadow: 2px 2px #333;
    transition: transform 0.2s;
    width: 100%;
}

img:hover {
    transform: scale(1.2);
}
